altgraph==0.17.5
certifi==2026.6.17
charset-normalizer==3.4.9
colorama==0.4.6
idna==3.18
iniconfig==2.3.0
numpy
opencv-python==5.0.0.93
packaging==26.2
pefile==2024.8.26
Pillow==12.1.1
pluggy==1.6.0
Pygments==2.20.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
pytest==9.1.1
pywin32-ctypes==0.2.3
PyYAML==6.0.3
requests==2.34.2
setuptools==83.0.0
shiboken6==6.11.1
urllib3==2.7.0
